/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background: url('https://img.freepik.com/fotos-gratis/sinal-de-euro-dourado-sobre-fundo-amarelo-para-troca-de-moeda-e-conceito-de-transferencia-de-dinheiro-euro-e-o-principal-dinheiro-da-regiao-da-uniao-europeia-por-renderizacao-3d_616485-23.jpg?t=st=1743434284~exp=1743437884~hmac=cd2779ee5cf43ea267b609d86ba3e91f88ca9d09773f6c445a73017341570148&w=1060') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  button {
    background-color: #ff8540;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1ABC9C;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }